@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
  }


  body{
    margin: 0;
    background-color: #111;
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-x: hidden;
    background-image: url('./pages/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container{
      
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  
  


  @media (max-width : 768px){
    body {
      overflow-x: hidden;
    }
    .menu-bars svg{
      display: grid;
    }
    .show--right{
      display: none;
    }
    .nav-menu.active {
      right: 0;
      transition: 350ms;
      text-decoration: none;
      width: 80%;
    }
  
    .project--left{
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      height: 99vh;
      float: left;
      left: 0;
      border: solid 2px #46d469;
    }
  
  }
  